.container{
    display:grid;
    min-height:100vh;

    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr 70px;

    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

header{
    grid-area:header;
}

main{
    grid-area:main;
}

aside{
    grid-area:aside;
}

footer{
    grid-area:footer;
}