input,
textarea,
select,
button{
    font: inherit;
    outline:none;
    border:none;
}

input,
textarea,
select{
    width:100%;
    padding:0.2rem 0.5rem;
    border:1px solid var(--text-muted);
    border-radius:8px;

    background: var(--backg);
    color: var(--text);

    transition:.2s ease;
}

input:focus,
textarea:focus,
select:focus{
    border-color: var(--secondary);
    box-shadow:0 0 0 3px rgba(70,130,180,.2);
}

input::placeholder,
textarea::placeholder{
    color:#999;
}

textarea{
    resize:vertical;
    min-height:120px;
}